* {margin: 0px; padding: 0px;}

@font-face 
{
    font-family: '小篆';
    src: url('方正小篆体.ttf');
}

a { font-size: 14px; text-decoration: none; }
a:link { color: #EF5350;}
a:visited { color: #EF5350;}
.start_img
{
    position: absolute;
    width: 100%;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: url('./start.png') center / cover;
    -webkit-transition: height 2s;
    transition: height 2s;
    z-index: 999;
}
.start_ref
{
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 82px;
    height: 30px;
    font-size: 20px;
    font-family: 小篆;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.start_img:hover 
{
    height: 490px;
}
.reference
{
    position: relative;
    top: 12px;
    right: 10px;
    width: 26px;
    height: 26px;
}
.container
{
    position: absolute;
    top: 360px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 998;
    /* border: 1px solid black; */
}

/* start */
.verse
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.verse h1
{
    padding-top: 50px;
    font-size: 30px;
    font-weight: 300;
    color: black;
    font-weight: 300;
}
.verse_ref h1
{
    padding-top: 4px;
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: 300;
    color: #212121;
}
.my_info_line
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.my_info_line img
{
    padding-top: 20px;
    padding-right: 20px;
    width: 32px;
    height: 32px;
}
.my_info p
{
    padding-top: 24px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    font-weight: 350;
}

.footer
{
    position: absolute;
    top: 940px;
    margin-top: 100px;
    width: 100%;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}
.footer_img
{
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.footer_img_0
{
    width: 180px;
    height: 128px;
    background: url('./footer.png') center / cover;
    position: relative;
    bottom: 40px;
    margin-right: 10px;
}
.copyright
{
    font-size: 14px;
    color: #424242;
    position: relative;
    bottom: 26px;
}
.links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 10px;
}
.links_decro
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 6px;
    width: 80px;
    height: 30px;
    font-weight: 600;
    background-color: #EEEEEE;
    box-shadow: 0 2px 4px 0 #EEEEEE;
    border-radius:25px;
}
.translation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 6px;
    width: 62px;
    height: 30px;
    font-weight: 600;
    background-color: #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
    color: #2196f3;
    border-radius: 25px;
}