* {margin: 0px; padding: 0px;}

@font-face
{
    font-family: myFirstFont;
    src: url(Marske.ttf);
}

/* start */
.start h1
{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 4.5%;
    font-size: 32px;
    font-weight: 435;
}
/* .start p
{
    font-size: 20px;
    font-style: italic;
    text-align: center;
} */

/* resume */
.demo-card-image.mdl-card 
{
    background: url('./Kassandra.png') center / cover;
    width: 64.5%;
    height: 390px;
    float: left;
    position: relative;
    left: 6%;
}
.demo-card-image > .mdl-card__actions 
{
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename 
{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

/* leetcode notes */
.leetcodenotes-card-wide.mdl-card 
{
    width: 20.5%;
    height: 220px;
    float: left;
    position: absolute;
    left: 6%;
    top: 548px;
}
.leetcodenotes-card-wide > .mdl-card__title 
{
    color: black;
    height: 220px;
    background: url('./test1.png') center / cover;
}
.leetcodenotes-card-wide > .mdl-card__menu {color: black;}

/* com sci notes */
.comscinotes-card-wide.mdl-card 
{
    width: 20.5%;
    height: 220px;
    float: left;
    position: absolute;
    left: 28%;
    top: 548px;
}
.comscinotes-card-wide > .mdl-card__title 
{
    color: black;
    height: 220px;
    background: url('./test2.png') center / cover;
}
.comscinotes-card-wide > .mdl-card__menu {color: #fff;}

/* game review */
.gamereview-card-wide.mdl-card 
{
    width: 20.5%;
    height: 220px;
    float: left;
    position: absolute;
    left: 50%;
    top: 548px;
}
.gamereview-card-wide > .mdl-card__title 
{
    color: black;
    height: 220px;
    background: url('./test3.png') center / cover;
}
.gamereview-card-wide > .mdl-card__menu {color: #fff;}

/* countdown timer */
#countdownTimerDay, #countdownTimerHour, #countdownTimerMin, #countdownTimerSec
{
    color: black;
    font-size: 155px;
    font-weight: 300;
    font-family: myFirstFont;
    padding-bottom: 100px;
}
/* #countdownTimerTitle
{
    color: black;
    font-size: 30px;
    font-weight: 435;
    padding-bottom: 45px;
} */
#countdowntimer
{
    position: absolute;
    text-align:center;
    right: 6%;
    top: 185px;
}

/* information */
.profile
{   
    float: right;
    position: absolute;
    right: 16%;
    top: 713px;
    background: url('./resume.jpg') center / cover;
}
.mail
{
    float: right;
    position: absolute;
    right: 12%;
    top: 721px;
    background: url('./mail.png') center / cover;
}
.github
{
    float: right;
    position: absolute;
    right: 8%;
    top: 721px;
    background: url('./github.png') center / cover;
}
.linkedin
{
    float: right;
    position: absolute;
    right: 4%;
    top: 721px;
    background: url('./linkedin.png') center / cover;
}

/* footer */
.footer
{
    height: 48px;
    width: 100%;
    position: absolute;
    top: 787px;
    text-align: center;
}